@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}

.rec.rec-dot {
    background: grey;
    border: 2px grey solid;
}
.rec.rec-dot_active, .rec-dot:focus, .rec-dot:hover, .rec.rec-dot_active:focus, .rec.rec-dot_active:hover{
    background: #87A1FF;
    box-shadow: 0 0 1px 3px #87A1FF;
    border: 2px #87A1FF;
}

button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
    background: #87A1FF;
    box-shadow: 0 0 1px 3px #87A1FF;
    border: 2px #87A1FF;
  }

  .rec.rec-arrow-left:hover:enabled,
  .rec.rec-arrow-right:hover:enabled{
      background-color: #87A1FF;
      box-shadow: 0 0 1px 3px #87A1FF;
  }

  .faq-row-wrapper.faq-body.faq-row{
    padding-bottom: 50px;
  }

    /* Works for Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }


